@import "~scss/variables";

.muwa-search-structure-entity-path-select {
    .muwa-search-structure-entity-path-select__selection-input {
        padding: 12px 22px 12px 0;
        width: 0;
        display: inline-block;

        &.is--expanded {
            width: 100%;
            display: block;
            padding: 12px 22px 12px 8px;
        }
    }

    .muwa-search-structure-entity-path-select__selection-text {
        display: inline-block;
        padding-left: 8px;

        &.is--placeholder {
            color: lighten($color-darkgray-200, 25%);
        }
    }

    &.sw-field--medium {
        .sw-select__selection {
            padding: 0 6px;
        }

        .muwa-search-structure-entity-path-select__selection-input {
            padding: 8px;
        }
    }

    &.sw-field--small {
        .sw-select__selection {
            padding: 0 6px;
        }

        .muwa-search-structure-entity-path-select__selection-input {
            padding: 4px 8px;
        }
    }

    &__listing-seperator {
        color: $color-gray-300;
        border: 1px solid $color-gray-300;
    }
}
