<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>General Settings</title>
        <title lang="de-DE">Allgemeine Einstellungen</title>
        <input-field type="bool">
            <name>active</name>
            <label>Active</label>
            <label lang="de-DE">Aktiviert</label>
        </input-field>
        <input-field type="single-select">
            <name>serverType</name>
            <options>
                <option>
                    <id>elasticsearch</id>
                    <name>Elasticsearch</name>
                </option>
            </options>
            <label>Server Type</label>
        </input-field>
    </card>
    <card>
        <title>Server Connection</title>
        <title lang="de-DE">Server Verbindung</title>
        <input-field type="text">
            <name>serverHost</name>
            <label>Host</label>
            <defaultValue>localhost</defaultValue>
        </input-field>
        <input-field type="int">
            <name>serverPort</name>
            <label>Port</label>
            <defaultValue>9200</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Search Field Mappings</title>
        <title lang="de-DE">Suchfelder Zuordnung</title>
        <input-field type="text">
            <name>mappingProductFields</name>
            <label>Product fields for mapping</label>
            <label lang="de-DE">Produktfelder für Zuordnung</label>
            <defaultValue>id,productNumber</defaultValue>
        </input-field>
    </card>
</config>