<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>General Settings</title>
        <title lang="de-DE">Allgemeine Einstellungen</title>
        <input-field type="bool">
            <name>active</name>
            <label>Active</label>
            <label lang="de-DE">Aktiviert</label>
        </input-field>
        <input-field type="single-select">
            <name>serverType</name>
            <label>Server Type</label>
            <label lang="de-DE">Servertyp</label>
            <options>
                <option>
                    <id>elasticsearch</id>
                    <name>Elasticsearch</name>
                </option>
            </options>
        </input-field>
    </card>
    <card>
        <title>Server Connection</title>
        <title lang="de-DE">Server Verbindung</title>
        <input-field type="text">
            <name>serverHost</name>
            <label>Host</label>
            <defaultValue>localhost</defaultValue>
        </input-field>
        <input-field type="int">
            <name>serverPort</name>
            <label>Port</label>
            <defaultValue>9200</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>activeAuthentication</name>
            <label>Server Authentication</label>
            <label lang="de-DE">Server Authentifizierung</label>
        </input-field>
        <input-field type="single-select">
            <name>serverAuthenticationMethod</name>
            <label>Server Authentication Method</label>
            <label lang="de-DE">Server Authentifizierung Methode</label>
            <options>
                <option>
                    <id>basicAuthentication</id>
                    <name>Basic Authentication</name>
                </option>
                <option>
                    <id>apiKeyAuthentication</id>
                    <name>API Key Authentication</name>
                </option>
            </options>
        </input-field>
        <input-field type="text">
            <name>serverUsername</name>
            <label>Username</label>
        </input-field>
        <input-field type="password">
            <name>serverPassword</name>
            <label>Password</label>
        </input-field>
        <input-field type="text">
            <name>elasticCloudId</name>
            <label>Elastic Cloud Id</label>
        </input-field>
        <input-field type="password">
            <name>serverApiKey</name>
            <label>Server API Key</label>
        </input-field>
    </card>
    <card>
        <title>Indices Settings</title>
        <title lang="de-DE">Indices Einstellungen</title>
        <input-field type="text">
            <name>indexNamePattern</name>
            <label>Index Name Pattern</label>
            <defaultValue>{{salesChannelId}}-{{entityName}}-{{languageId}}</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Indices Default Settings</title>
        <title lang="de-DE">Indices Standard Einstellungen</title>
        <input-field type="int">
            <name>defaultNumberShards</name>
            <label>Default numbers of Shards</label>
            <label lang="de-DE">Standard Anzahl an Shards</label>
            <defaultValue>2</defaultValue>
        </input-field>
        <input-field type="int">
            <name>defaultNumberReplicas</name>
            <label>Default numbers of Replicas</label>
            <label lang="de-DE">Standard Anzahl an Replicas</label>
            <defaultValue>1</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Search Field Mappings</title>
        <title lang="de-DE">Suchfelder Zuordnung</title>
        <input-field type="text">
            <name>mappingProductFields</name>
            <label>Product fields for mapping</label>
            <label lang="de-DE">Produktfelder für Zuordnung</label>
            <defaultValue>id,productNumber</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Search Request Settings</title>
        <title lang="de-DE">Suchanfrage Einstellungen</title>
        <input-field type="text">
            <name>searchRequestSettingsPreTags</name>
            <label>Pre Tags as html-Highlight. Default: <![CDATA[<b>]]></label>
            <label lang="de-DE">Pre Tags als html-Highlight. Standard: <![CDATA[<b>]]></label>
        </input-field>
        <input-field type="text">
            <name>searchRequestSettingsPostTags</name>
            <label>Post Tags as html-Highlight. Default: <![CDATA[</b>]]></label>
            <label lang="de-DE">Post Tags als html-Highlight. Standard: <![CDATA[</b>]]></label>
        </input-field>
    </card>
</config>