{% block muwa_search_structure_detail %}
    <sw-page class="muwa-search-structure-tabs-detail">
        {% block muwa_search_structure_detail_smart_bar_actions %}
            <template #smart-bar-actions>
                <sw-button :routerLink="{ name: 'sw.settings.index.plugins'}">
                    {{ $tc('muwa-search-structure.list.header.cancelButtonLabel') }}
                </sw-button>

                <sw-button-process
                        position-identifier="muwa-search-structure"
                        :isLoading="isLoading"
                        :processSuccess="processSuccess"
                        variant="primary"
                        @process-finish="saveFinish"
                        @click="onClickSave"
                >
                    {{ $tc('muwa-search-structure.list.header.saveButtonLabel') }}
                </sw-button-process>
            </template>

            <template #language-switch>
                <sw-language-switch @on-change="onChangeLanguage"></sw-language-switch>
            </template>
        {% endblock %}

        <template #content>
            {% block muwa_search_structure_detail_content %}
                <sw-card-view>
                    <sw-card positionIdentifier="muwaSearchStructure" v-if="indexStructure" :title="indexStructure.label">
                        <sw-switch-field
                            :label="$tc('muwa-search-structure.detail.activeLabel')"
                            v-model="indexStructure.active"
                        >
                        </sw-switch-field>
                        <sw-field
                            :label="$tc('muwa-search-structure.detail.nameLabel')"
                            v-model="indexStructure.name"
                            maxlength="70"
                            validation="required"
                            required
                        >
                        </sw-field>
                        <sw-select-field
                            validation="required"
                            required
                            :label="$tc('muwa-search-structure.detail.entityLabel')"
                            v-model="indexStructure.entity"
                        >
                            <option value="product">{{ $tc('muwa-search-structure.detail.entity.product') }}</option>
                            <option value="category">{{ $tc('muwa-search-structure.detail.entity.category') }}</option>
                            <option value="product_manufacturer">{{ $tc('muwa-search-structure.detail.entity.manufacturer') }}</option>
                            <option value="cms_slot">{{ $tc('muwa-search-structure.detail.entity.cms') }}</option>
                        </sw-select-field>

                        <sw-single-select
                            :label="$tc('muwa-search-structure.detail.salesChannelLabel')"
                            v-model="indexStructure.salesChannelId"
                            labelProperty="translated.name"
                            valueProperty="id"
                            :isLoading="isLoading"
                            :options="salesChannels"
                            validation="required"
                            required
                        >
                        </sw-single-select>
                    </sw-card>
                </sw-card-view>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}