{% block muwa_search_structure_detail %}
    <sw-page class="muwa-search-structure-tabs-detail">
        {% block muwa_search_structure_detail_smart_bar_actions %}
            <template #smart-bar-actions>
                <sw-button :routerLink="{ name: 'sw.settings.index.plugins'}">
                    {{ $tc('muwa-search-structure.list.header.cancelButtonLabel') }}
                </sw-button>

                <sw-button-process
                        position-identifier="muwa-search-structure"
                        :isLoading="isLoading"
                        :processSuccess="processSuccess"
                        variant="primary"
                        @process-finish="saveFinish"
                        @click="onClickSave"
                >
                    {{ $tc('muwa-search-structure.list.header.saveButtonLabel') }}
                </sw-button-process>
            </template>

            <template #language-switch>
                <sw-language-switch @on-change="onChangeLanguage"></sw-language-switch>
            </template>
        {% endblock %}

        <template #content>
            {% block muwa_search_structure_detail_content %}
                <sw-card-view>
                    <sw-card positionIdentifier="muwaSearchStructure" v-if="indexStructure" :title="$tc('muwa-search-structure.detail.generalLabel')">
                        <sw-switch-field
                                :label="$tc('muwa-search-structure.detail.activeLabel')"
                                v-model="indexStructure.active"
                                :helpText="$tc('muwa-search-structure.detail.activeHelpText')"
                        >
                        </sw-switch-field>
                        <sw-field
                                :label="$tc('muwa-search-structure.detail.nameLabel')"
                                v-model="indexStructure.name"
                                maxlength="70"
                        >
                        </sw-field>
                        <sw-select-field
                                :label="$tc('muwa-search-structure.detail.entityLabel')"
                                v-model="indexStructure.entity"
                                :disabled="true"
                        >
                            <option value="product">{{ $tc('muwa-search-structure.detail.entity.product') }}</option>
                            <option value="category">{{ $tc('muwa-search-structure.detail.entity.category') }}</option>
                            <option value="product_manufacturer">{{ $tc('muwa-search-structure.detail.entity.manufacturer') }}</option>
                            <option value="cms_slot">{{ $tc('muwa-search-structure.detail.entity.cms') }}</option>
                        </sw-select-field>
                        <sw-single-select
                                v-model="indexStructure.salesChannelId"
                                labelProperty="translated.name"
                                valueProperty="id"
                                :isLoading="isLoading"
                                :options="salesChannels"
                        >
                        </sw-single-select>
                    </sw-card>

                    <sw-card positionIdentifier="muwaSearchStructureMapping" v-if="indexStructure" :title="$tc('muwa-search-structure.detail.mappingLabel')">
                        <sw-button
                                v-tooltip="{
                            message: $tc('sw-import-export.profile.addMappingTooltipText'),
                            showOnDisabledElements: true
                        }"
                                class="sw-import-export-edit-profile-modal-mapping__add-action"
                                variant="ghost"
                                size="small"
                                @click="onAddMapping"
                        >
                            {{ $tc('muwa-search-structure.detail.addMappingLabel') }}
                        </sw-button>
                        {% block muwa_search_structure_detail_mappings_description %}
                            <div
                                    v-html="$tc('muwa-search-structure.detail.mappingsDescription')"
                                    class="muwa-search-structure-detail-mappings__description"
                            ></div>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block wuwa_search_structure_mapping_grid %}
                            <sw-data-grid
                                    v-if="mappingsExist"
                                    :data-source="getMappings"
                                    :compact-mode="false"
                                    :show-selection="false"
                                    :columns="mappingColumns"
                                    plain-appearance
                                    class="sw-import-export-edit-profile-modal-mapping__grid"
                            >

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block wuwa_search_structure_mapping_grid_entity_column %}
                                    <template #column-entry="{ item }">
                                        <muwa-search-structure-entity-path-select
                                                {% if VUE3 %}
                                                    v-model:value="item.key"
                                                {% else %}
                                                    v-model="item.key"
                                                {% endif %}
                                                :languages="languages"
                                                :currencies="currencies"
                                                :entity-type="indexStructure.entity"
                                                :disabled="false"
                                                :custom-field-sets="customFieldSets"
                                        />
                                    </template>
                                {% endblock %}

                                {% block wuwa_search_structure_mapping_grid_data_type_column %}
                                    <template #column-inputDataType="{ item }">
                                        <div class="sw-cms-list__actions-sorting">
                                            <sw-select-field
                                                name="dataType"
                                                :value="sortingConditionConcatenation"
                                                :aside="true"
                                            >
                                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                                {% block wuwa_search_structure_mapping_select_options %}
                                                    <option
                                                        v-for="dataTypeOption in dataTypeOptions"
                                                        :key="dataTypeOption.key"
                                                        :value="dataTypeOption.label"
                                                    >
                                                        {{ dataTypeOption.label }}
                                                    </option>
                                                {% endblock %}
                                            </sw-select-field>
                                        </div>
                                    </template>
                                {% endblock %}

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block wuwa_search_structure_mapping_grid_default_value_column %}
                                    <template #column-defaultValue="{ item, itemIndex }">
                                        <sw-switch-field
                                                {% if VUE3 %}
                                                    v-model:value="item.useDefaultValue"
                                                {% else %}
                                                    v-model="item.useDefaultValue"
                                                {% endif %}
                                                :name="`useDefaultValue-${itemIndex}`"
                                                :disabled="false"
                                                class="sw-import-export-edit-profile-modal-mapping__default-value-switch"
                                        />

                                        <sw-text-field
                                                {% if VUE3 %}
                                                    v-model:value="item.defaultValue"
                                                {% else %}
                                                    v-model="item.defaultValue"
                                                {% endif %}
                                                :name="`defaultValue-${itemIndex}`"
                                                :disabled="false"
                                        />
                                    </template>
                                {% endblock %}

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block wuwa_search_structure_mapping_grid_context_menu_delete %}
                                    <template #actions="{ item }">
                                        <sw-context-menu-item
                                                variant="danger"
                                                :disabled="false"
                                                @click="onDeleteMapping(item.id)"
                                        >
                                            {{ $tc('muwa-search-structure.mappingList.deleteMappingLabel') }}
                                        </sw-context-menu-item>
                                    </template>
                                {% endblock %}

                            </sw-data-grid>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block wuwa_search_structure_mapping_empty_state %}
                            <sw-empty-state
                                v-else
                                class="sw-import-export-edit-profile-modal-mapping__empty-state"
                                :title="$tc('muwa-search-structure.detail.mappingEmptyState')"
                                :absolute="false"
                                icon="regular-database"
                            />
                        {% endblock %}
                    </sw-card>

                    <sw-card positionIdentifier="muwaSearchStructureSettings" v-if="indexStructure" :title="$tc('muwa-search-structure.detail.settingsLabel')">
                        <sw-button
                                v-tooltip="{
                            message: $tc('sw-import-export.profile.addSettingsTooltipText'),
                            showOnDisabledElements: true
                        }"
                                class="sw-import-export-edit-profile-modal-settings__add-action"
                                variant="ghost"
                                size="small"
                                @click="onAddSetting"
                        >
                            {{ $tc('muwa-search-structure.detail.addSettingLabel') }}
                        </sw-button>
                        {% block muwa_search_structure_detail_settings_description %}
                            <div
                                v-html="$tc('muwa-search-structure.detail.settingsDescription')"
                                class="muwa-search-structure-detail-settings__description"
                            ></div>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block wuwa_search_structure_setting_grid %}
                            <sw-data-grid
                                    v-if="settingsExist"
                                    :data-source="getSettings"
                                    :compact-mode="false"
                                    :show-selection="false"
                                    :columns="settingColumns"
                                    plain-appearance
                                    class="sw-import-export-edit-profile-modal-settings__grid"
                            >
                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block wuwa_search_structure_settings_grid_setting_key_column %}
                                    <template #column-settingKey="{ item, itemIndex }">
                                        <sw-text-field
                                            {% if VUE3 %}
                                                v-model:value="item.settingKey"
                                            {% else %}
                                                v-model="item.settingKey"
                                            {% endif %}
                                            :name="`settingKey-${itemIndex}`"
                                            :disabled="false"
                                        />
                                    </template>
                                {% endblock %}

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block wuwa_search_structure_settings_grid_setting_value_column %}
                                    <template #column-settingValue="{ item, itemIndex }">
                                        <sw-text-field
                                                {% if VUE3 %}
                                                    v-model:value="item.settingValue"
                                                {% else %}
                                                    v-model="item.settingValue"
                                                {% endif %}
                                                :name="`settingValue-${itemIndex}`"
                                                :disabled="false"
                                        />
                                    </template>
                                {% endblock %}

                                <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                                {% block wuwa_search_structure_settings_grid_context_menu_delete %}
                                    <template #actions="{ item }">
                                        <sw-context-menu-item
                                                variant="danger"
                                                :disabled="false"
                                                @click="onDeleteSetting(item.id)"
                                        >
                                            {{ $tc('muwa-search-structure.settingList.deleteSettingLabel') }}
                                        </sw-context-menu-item>
                                    </template>
                                {% endblock %}

                            </sw-data-grid>
                        {% endblock %}

                        <!-- eslint-disable-next-line sw-deprecation-rules/no-twigjs-blocks -->
                        {% block wuwa_search_structure_settings_empty_state %}
                            <sw-empty-state
                                v-else
                                class="sw-import-export-edit-profile-modal-settings__empty-state"
                                :title="$tc('muwa-search-structure.detail.settingsEmptyState')"
                                :absolute="false"
                                icon="regular-cog"
                            />
                        {% endblock %}
                    </sw-card>
                </sw-card-view>
            {% endblock %}
        </template>
    </sw-page>
{% endblock %}