{% sw_extends '@Storefront/storefront/layout/header/search-suggest.html.twig' %}

{% block layout_search_suggest_result_name %}
    <div class="col search-suggest-product-name">
        {{ product.translated.name|raw }}
    </div>
{% endblock %}


